<h1>Restaurants</h1>
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <%= link_to "Show this restaurant", restaurant %>
    <br>
-----------
  <% end %>
</div>
